*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(90, 131, 255), rgb(0, 198, 238))
}

canvas{
    border: 1px solid black;
}

#mainContainer{
    width: 90vmax;
    height: 45vmax;
    min-width: 600px;
    min-height: 300px;
}    

@media only screen and (orientation: portrait){
    #mainContainer{
        width: 80vmin;
        height: 40vmin;
        transform: rotate(-90deg);
    }
}